.book-layout-change {
  background-color: var(--color-background);
  padding: 0.5em;
  &__item {
    line-height: 2;
  }
  & > * + * {
    border-top: 1px solid var(--color-shadow);
  }
  &__info {
    margin-left: 1em;
    font-size: 1.1rem;
  }
}
