.bottom-menu {
  background-color: var(--color-hover-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  height: 3em;
  .iconfont {
    font-size: 1.2rem;
    padding: 0.2em;
    transition: all 0.3s ease-in-out;
  }
  &__item {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.5em 1em 3em;
    z-index: var(--zIndex-hide);
    transform: translateY(100%);
    background-color: var(--color-hover-background);
    opacity: 0;
    transition: transform 0.3s ease-in, opacity 0.3s ease;
    visibility: hidden;
    &--active {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
  }
}
.button--active {
  color: var(--color-theme);
  font-size: 1.3rem;
  font-weight: bold;
}
