@import '../../assets/styles/variables.scss';

.bookshelf {
  padding: 2em;
  &__book {
    display: inline-block;
    padding: 1em;
    width: 50%;
  }
}

@media (min-width: $window-md) {
  .bookshelf__book {
    width: 33.3%;
  }
}

@media (min-width: $window-lg) {
  .bookshelf__book {
    width: 25%;
  }
}

@media (min-width: $window-xl) {
  .bookshelf__book {
    width: 20%;
  }
}

@media (min-width: $window-sl) {
  .bookshelf__book {
    width: 14.28%;
  }
}
