.tab-bar {
  height: 100%;
  display: flex;
  align-items: center;
  border-top: 1px solid var(--color-shadow);
  &__item {
    text-align: center;
    flex: 1 1 5em;
    color: var(--color-gray);
    transform: scale(0.8);
    transition: color 0.2s ease-in, transform 0.2s ease-in;
    &__icon {
      font-size: 2em;
    }
    &__title {
      display: block;
    }
    &--active {
      color: var(--color-theme);
      transform: translateY(-5%) scale(0.85);
    }
  }
}
