.main-content {
  display: flex;
  overflow-y: auto;
  &__content {
    flex: 1;
    width: calc(100% - 6em);
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
  }
  &__channel {
    padding: 1em 0 0.5em 1em;
    order: -1;
    &__item {
      display: inline-block;
      padding-bottom: 0.3em;
      &--active {
        border-bottom: 0.2em solid var(--color-theme);
      }
      & + & {
        margin-left: 1em;
      }
    }
  }
  &__list {
    flex: 1;
    overflow-y: auto;
    padding: 0 0.5em;
  }
}
