.update-info {
  display: flex;
  padding: 0.5em 1em;
  background-color: var(--color-background);
  align-items: center;
  &__catalogue {
    font-size: 1.2rem;
    font-weight: bold;
  }
  &__content {
    flex: 1;
    margin-left: 1em;
    font-size: 0.9rem;
  }
  .iconfont {
  }
}
