@import '../../../assets/styles/mixin.scss';
@import '../../../assets/styles/variables.scss';
.cover-swiper {
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  overflow: hidden;
  box-shadow: 1px 1px 5px var(--color-shadow);
  &__banner {
    position: relative;
    height: 12em;
    &::before {
      content: '';
      @include coverArea;
      background-color: var(--color-mask);
    }
    background-size: 8em 12em;
  }
  &__item {
    position: absolute;
    top: 50%;
    left: 50%;
    transition: transform 0.3s ease-in;
    &::after {
      content: '';
      @include coverArea;
      background-color: var(--color-mask);
      opacity: 1;
    }
    &[data-index] {
      transform: translate(-50%, -50%);
      z-index: var(--zIndex-hide);
    }
    &[data-index='1'] {
      transform: translate(-50%, -50%);
      scale: 1;
      z-index: var(--zIndex-senior);
      &::after {
        opacity: 0;
      }
    }
    &[data-index='0'] {
      transform: translate(-160%, -60%);
      z-index: var(--zIndex-bottom);
      scale: 0.8;
    }
    &[data-index='2'] {
      transform: translate(30%, -60%);
      z-index: var(--zIndex-junior);
      scale: 0.8;
    }
    &__img {
      width: 7em;
      height: 10em;
      object-fit: cover;
    }
  }
  &__info {
    padding: 1em;
    background-color: var(--color-darken-background);
    flex: 1;
    height: 16em;
    &__title {
      text-align: center;
      margin-bottom: 0.5em;
    }
    &__desc {
      text-indent: 2em;
      @include multiline-ellipsis(4);
      line-height: 1.5em;
      height: 6em;
    }
  }
}
