:root {
  --color-background: #fff;
  --color-background-dark: #000;
  --color-hover-background: rgb(245, 247, 247);
  --color-foreground: rgb(240, 240, 240);
  --color-text: #333;
  --color-text-light: rgb(120, 120, 120);
  --color-theme: rgb(204, 51, 51);
  --color-shadow: rgba(0, 0, 0, 0.1);
  --color-mask: rgba(0, 0, 0, 0.2);
  --color-darken-background: #f6f7fc;
  --zIndex-hide: -1;
  --zIndex-bottom: 0;
  --zIndex-junior: 10;
  --zIndex-senior: 20;
  --zIndex-top: 30;
  --window-lg: 992px;

  box-sizing: border-box;
  color: var(--color-text);
}

*,
::before,
::after {
  box-sizing: inherit;
}
