:root {
  --color-background: #fff;
  --color-background-dark: #000;
  --color-hover-background: hsl(180deg 11% 96%);
  --color-foreground: hsl(0deg 0% 94%);
  --color-text: #333;
  --color-text-light: rgb(120, 120, 120);
  --color-theme: hsl(0deg 60% 50%);
  --color-theme-relative: hsl(0deg 50% 60%);
  --color-theme-opposite: hsl(180deg 50% 50%);
  --color-shadow: rgba(0, 0, 0, 0.1);
  --color-mask: rgba(0, 0, 0, 0.2);
  --color-darken-background: hsl(230deg 50% 98%);
  --zIndex-hide: -1;
  --zIndex-bottom: 0;
  --zIndex-junior: 10;
  --zIndex-senior: 20;
  --zIndex-top: 30;
  --window-lg: 992px;

  box-sizing: border-box;
  color: var(--color-text);
  font-size: calc(9px + 1vw);
}

*,
::before,
::after {
  box-sizing: inherit;
}

a {
  color: inherit;
}

h1,
h2,
h3 {
  font-size: inherit;
  font-weight: normal;
}

@font-face {
  font-family: 'iconfont'; /* Project id 2967348 */
  src: url('//at.alicdn.com/t/font_2967348_h88rpaoye5o.woff2?t=1639701190214') format('woff2'),
    url('//at.alicdn.com/t/font_2967348_h88rpaoye5o.woff?t=1639701190214') format('woff'),
    url('//at.alicdn.com/t/font_2967348_h88rpaoye5o.ttf?t=1639701190214') format('truetype');
}
.iconfont {
  font-family: 'iconfont';
}
