@import './variables.scss';

@mixin noneAt($window) {
  @media (min-width: $window) {
    display: none !important;
  }
}
@mixin width($size) {
  width: 8.33333% * $size;
}

.d-lg-none {
  @include noneAt($window-lg);
}

@for $i from 12 through 1 {
  .col-#{$i} {
    width: 8.3333% * $i;
  }
  .col-sm-#{$i} {
    @media (min-width: $window-sm) {
      @include width($i);
    }
  }
  .col-md-#{$i} {
    @media (min-width: $window-md) {
      @include width($i);
    }
  }
  @media (min-width: $window-lg) {
    .col-lg-#{$i} {
      @include width($i);
    }
  }
  @media (min-width: $window-xl) {
    .col-xl-#{$i} {
      @include width($i);
    }
  }
}
